.back {
  position: absolute;
  left: 1rem;
  top: 1rem;
  height: 20px;
  width: 20px;
  z-index: 1;
  cursor: pointer;
}

.backdrop {
  max-width: 780px;
  height: 200px;
  width: 100%;
}

.backdrop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 0 40px;
  mask-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0.75) 40%,
    rgba(0, 0, 0, 0.9) 70%,
    rgba(0, 0, 0, 1) 90%
  );
}

.top-bar {
  position: absolute;
  right: 0px;
  top: 160px;
  z-index: 1;
  height: 80px;
  width: 95%;
  background-color: white;
  border-radius: 40px 0 0 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 8px 15px -6px #9e9e9e;
}

.top-bar > img {
  height: 40px;
  width: 40px;
}

.rating, .runtime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.runtime p {
  font-size: .9em;
}

.rating img, .runtime img {
  height: 25px;
  width: 25px;
}

.rating p:first-of-type {
  font-size: .8em;
  font-weight: 700;
}

.rating p:first-of-type span {
  font-size: 0.79em;
  font-weight: 400;
}

.rating p:last-of-type {
  letter-spacing: .1em;
  font-size: .6em;
  color: #949496;
}

.movie-header{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 80px;
  margin-left: 1.5rem;
}

.movie-header h2 {
  font-weight: 600;
  margin-right: 1.5rem;
}

.movie-header > p {
  margin-top: .4rem;
  color: #818181;
}

.movie-header .movie-detail p{
  margin-top: .4rem;
  float: left;
  margin-right: 20px;
  color: #818181;
}

.movie-header .genres {
  margin-top: 1.2rem;
}

.movie-header .genres p {
  display: flex;
  width: 70%;
}

.movie-header .genres p span {
  border: 1px solid #818181;
  border-radius: 1rem;
  padding: .5rem .8rem;
  font-size: .8em;
  margin-right: .8rem;
}

.summary {
  margin: 2rem 0 0 1.5rem;
}

.summary h3 {
  margin-bottom: 1rem;
}

.summary p {
  margin-right: 1.5rem;
  font-size: .8em;
  line-height: 1.5em;
  color: #818181;
  font-weight: 600;
}

.cast-title {
  margin: 2rem 0 0 1.5rem;
}

.cast {
  margin: 1rem 0 1rem 1.5rem;
}

.cast-list {
  display: flex;
  max-height: 420px;
}

.cast-list div {
  margin-right: 1.5rem;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.cast-list div div {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.cast-list div div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50%;
}

.cast-list div .cast-name, .cast-list div .character-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}

.cast-list div .cast-name {
  font-weight: 700;
  margin-top: .6rem;
}

.cast-list div .character-name {
  color: #818181;
  font-size: .9em;
  margin-top: .4rem;
}

@media only screen and (min-width: 768px) {
  .backdrop {
    max-width: 1200px;
    height: 400px;
  }

  .top-bar {
    top: 350px;
    height: 100px;
    border-radius: 50px 0 0 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .backdrop {
    max-width: 100%;
    height: 500px;
  }

  .top-bar {
    top: 450px;
    height: 100px;
    border-radius: 50px 0 0 50px;
  }

  .back {
    display: none;
  }
}

