.dashboard {
  overflow-x: hidden;
}

.nowPlayingDiv h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.listHeader {
  font-size: 1.6em;
  margin: .1rem 0 1rem 1.5rem;
}

.appname {
  font-size: 1.8em;
  font-weight: 800;
}

.header {
  margin: 1rem 0 1.5rem 1.5rem;
  display: flex;
  align-items: center;
}

.header img {
  height: 2em;
  width: 2em;
  margin-right: .5rem;
}

.nowPlayingList {
  padding-block: 1rem;
  padding-inline: 1rem;
}

:global(.swiper) :global(.swiper-slide) {
  width: auto;
}

@media only screen and (min-width: 850px) {
  .upcomingMovies :global(.swiper), .upcomingMovies :global(.swiper-wrapper) {
    padding-inline: 1.5rem !important;
  }
}