.dashboard {
  overflow-x: hidden;
}

.now-playing-div h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.list-header {
  font-size: 1.6em;
  margin: .1rem 0 1rem 1.5rem;
}

.appname {
  font-size: 1.8em;
  font-weight: 800;
}

.header {
  margin: 1rem 0 1.5rem 1.5rem;
  display: flex;
  align-items: center;
}

.header img {
  height: 2em;
  width: 2em;
  margin-right: .5rem;
}

.now-playing-list {
  display: flex;
  max-height: 420px;
}