.upcoming-movie .title, .upcoming-movie .genres, .now-playing .title, .now-playing .genres {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}

.upcoming-movie, .now-playing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.upcoming-movie {
  width: 300px;
}

.mt-container .poster, .mt-container .poster {
  width: 100%;
  object-fit: cover;
  border-radius: 1.8rem;
}

.upcoming-movie .poster {
  aspect-ratio: 2 / 3;
}

.mt-container .title, .mt-container .genres {
  margin-left: .8rem;
}

.upcoming-movie .title{
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.upcoming-movie .genres {
  font-size: .9em;
  color: #949496;
  font-weight: 500;
}

.now-playing {
  width: 130px;
  margin: 0 .5rem;
}

.now-playing .poster {
  aspect-ratio: 1 / 1.54;
  border-radius: 20px;
  margin-bottom: .5rem;
}

.now-playing .genres {
  font-size: .7em;
  color: #949496;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .upcoming-movie {
    width: 80vw;
    opacity: .8;
    scale: .9;
    transition: all .2s ease-in-out;
  }

  .swiper-slide-active .upcoming-movie {
    opacity: 1;
    scale: 1;
  }
}