.upcomingMovie .title, .upcomingMovie .genres, .nowPlaying .title, .nowPlaying .genres {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upcomingMovie, .nowPlaying {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.upcomingMovie {
  width: 300px;
}

.mtContainer .poster {
  width: 100%;
  object-fit: cover;
  border-radius: 1.8rem;
}

.upcomingMovie .poster {
  aspect-ratio: 2 / 3;
}

.upcomingMovie.mtContainer .title, .upcomingMovie.mtContainer .genres {
  margin-left: .8rem;
}

.upcomingMovie .title {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-primary);
}

.upcomingMovie .genres {
  font-size: .9em;
  color: var(--text-muted);
  font-weight: 500;
}

.nowPlaying {
  width: 130px;
  margin: 0 .5rem;
}

.nowPlaying .poster {
  aspect-ratio: 1 / 1.54;
  border-radius: 20px;
  margin-bottom: .5rem;
}

.nowPlaying .genres {
  font-size: .7em;
  color: var(--text-muted);
  font-weight: 500;
}

.nowPlaying .title {
  color: var(--text-primary);
}

@media screen and (max-width: 480px) {
  .upcomingMovie {
    width: 80vw;
    opacity: .8;
    scale: .9;
    transition: all .2s ease-in-out;
  }

  :global(.swiper-slide-active) .upcomingMovie {
    opacity: 1;
    scale: 1;
  }
}